<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="{% url 'home:home' %}">Lenas</a>
	<button class="navbar-toggler" 
		type="button"
		data-toggle="collapse"
		data-target=#navbarSupportedContent
		aria-controls="navbarSupportedContent"
		aria-expanded="false"
		aria-label="Toggle Navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div id="navbarSupportedContent"
		class="collapse navbar-collapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{% url 'home:home' %}">Home<span class="sr-only>"></span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'home:info' %}">Info</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'blog:articles' %}">Articles</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="Services">Services</a>
			<div class="dropdown-menu" aria-labelled="navbarDropdown">
				{% for service in services %}
					<a class="dropdown-item" href="{{ service.get_absolute_url }}">{{ service.title}}</a>
				{% endfor %}
			</div>
			</li>
		</ul>
	</div>
</nav>
