{% extends "home/includes/base.html" %}
{% block title %}{{ article.title }}{% endblock %}

{% block body %}
<div class="container-fluid width-wrapper">
	<div class="row">
		<img class="rounded img-fluid mt-5 mb-3" src="{{ article.image.large.url }}">
	</div>
	<div class="row">
		<div class="container-fluid p-0">
		<div class="jumbotron">
			<h1 class="display-4">{{ article.title }}</h1>
			<p class="lead">{{ article.description|safe }}</p>
			<hr class="my-4">
			<p>Tags:
				{% for tag in article.tags.all %}
				{{ tag }}
				{% endfor %}
			</p>
			<small class="text-muted">Created on {{ article.created }}</small>
			<br>
			<small class="text-muted ">Modified on {{ article.modified }}</small>
			<p>{{ article.content | safe }}</p>
		</div>
		</div>
	</div>
	<div class="row">
		<div class="container-fluid mt-2 mb-2">
		<h3 class="text-center">Related Articles</h3>
		</div>
		{% include "blog/articles.html" %}
	</div>
</div>
{% endblock %}
